﻿@page "{id}"
@{
    var req = ViewContext.RouteData.Values["id"];
}
<style type="text/css">
    #wrapper {
        width: 760px;
        margin: auto
    }

</style>

<h2 id="wrapper">Forgot Password</h2>

@using (Html.BeginForm("Submit", "ForgottenPassword", FormMethod.Post))
{
    <div id="wrapper" class="form-horizontal">
        <hr />
        <div class="form-group">
            <label class="control-label col-md-2">New Password</label>
            @Html.TextBox("NewPassword", "", new { @class = "form--control" })
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Confirm Password</label>
            @Html.TextBox("ConfirmPassword", "", new { @class = "form--control" })
        </div>
        <div class="form-group">
            @Html.Hidden("ReqId", req)
            <input type="submit" value="Reset Password" class="btn btn-success" />
        </div>
    </div>
}


